
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
  }
  
  p {
    font-size: 16px;
    color: #333;
  }
  
  
  select {
    margin: 10px 0;
    padding: 8px;
    font-size: 16px;
    border-radius: 4px;
    border: 1px solid #ccc;
  }
  table {
    width: 100%;
    border-collapse: collapse;
    background-color: #fff;
  }
  
  th, td {
    padding: 10px;
    border-bottom: 1px solid #ddd;
  }
  
  th {
    background-color: #f2f2f2;
    font-weight: bold;
  }
  
 
  td div {
    font-weight: bold;
  }
  
  td div span {
    padding: 4px 8px;
    border-radius: 4px;
  }
  
  span.Inactive {
    background-color: #ffcccc;
  }
  
  span.Active {
    background-color: #ffffcc;
  }
  
  span.Loyal {
    background-color: #ccffcc;
  }
  