
<h1>Welcome  to angular</h1>
<!-- <app-root></app-root> -->
<!-- <app-student></app-student> -->
<app-shop></app-shop>
<!-- <app-product></app-product> -->

<!-- <app-account></app-account> -->
<!-- <a [routerLink]="'shop'">Shop</a> &nbsp;
<a [routerLink]="'product'">Products</a> &nbsp;
<a [routerLink]="'student'">Student</a> &nbsp;
<a [routerLink]="'account'">Account </a> &nbsp;
<div>
    <router-outlet></router-outlet>
</div> -->

<!-- Inbuilt pipes -->
 <div>
    {{day | date:'dd-MM-yyyy'}}
</div>
<div>
    Number:{{num | number:'0.0-0' }} <br/>

{{154578|currency:'INR'}} <br/>
{{154812|currency:'USD'}} <br/>

{{joinDate|date:'fullDate'}} <br/>
{{joinDate|date:'shortDate'}} <br/>
{{joinDate|date:'shortTime'}} <br/>
{{joinDate|date:'fullTime'}} <br/>
{{joinDate|date:'dd/MM/yyyy'}} <br/>
{{joinDate|date:'d/M/yy'}} <br/>
{{[1,5,2,3,6,8,4]|slice:3}} <br/>
{{[1,5,2,3,6,8,4]|slice:3:5}} <br/>
{{[1,5,2,3,6,8,4]|slice:3:-1}} <br/>
{{[1,5,2,3,6,8,4]|slice:4:-2}} <br/>
{{[1,5,2,3,6,8,4]|slice:-5:-2}} <br/>
{{[1,5,2,3,6,8,4]|slice:-1}} <br/>
{{title|uppercase}} <br/>
{{title|lowercase}} <br/>
</div>

{{ 10 | cube }}
{{'male' | gender}} <br/>
{{'female' | gender}} <br/>  >

<!-- {{product.count}} -->
<button (click)="increaseCount()">Increase</button>

